<html>
  <head>
    <title> Outler </title>
    <!-- Basscss -->
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <!-- Lato -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <!-- main.css -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>

  <body class="flex flex-column min-h100vh">

    <!-- Nav -->
    <div class="container mx-auto p2">
      <div class="flex justify-between items-center">
        <a href="index.html" class="transition ml3 black h3">Outler</a>
        <div class="flex">
          <a href="color.html" class="transition ml3">Color Book</a>
          <a href="#" class="transition ml3">Similarity</a>
        </div>
      </div>
    </div>

    <!-- Upload -->
    <div class="flex-auto container mx-auto p2 flex flex-column justify-center items-center">
      <label class="label-upload h3 transition p4" for="upload">Upload your .css file here</label>
      <input type="file" name="upload" id="upload" />
    </div>

    <!-- Footer -->
    <div class="container mx-auto p2 flex justify-center">
      <div class="grey h5">Created by Martin and Lennon</div>
    </div>

  </body>
</html>
