<html>
  <head>
    <title> Outlor | Similarity </title>
    <!-- Basscss -->
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <!-- Lato -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <!-- main.css -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>

  <body class="flex flex-column min-h100vh">

    <!-- Nav -->
    <div class="container mx-auto p2 mt2">
      <div class="flex justify-between items-center">
        <a href="/" class="transition h3">Outlor</a>
        <div class="flex">
          <a href="/" class="transition ml3">New File</a>
          <a href="/color?<%= query %>" class="transition ml3">Color Book</a>
          <a href="/similarity=<%= query %>" class="transition ml3 black">Similarity</a>
        </div>
      </div>
    </div>

    <!-- Color Book -->
    <div class="flex-auto container mx-auto p2 py4">
      <!-- Summary -->
      <div class="center h4 italic grey">
        There are
        <span class="bold h4 black">3</span>
        similar
        <span class="underline">color groups</span>
        used in your file
      </div>

      <!-- Color Card Group Title-->
      <div class="group mt4 p2 flex grey">
        <div class="group-color" style="background-color: #f1f1f1"></div>
        <div class="italic ml2">
          Color Similar to #f1f1f1</div>
      </div>

      <!-- Color Card Group-->
      <div class="flex flex-wrap mt2">
        <!-- Color Card -->
        <div class="col-12 sm-col-6 md-col-4 lg-col-3 p4 relative">
          <div class="card-color" style="background-color: #f1f1f1"></div>
          <div class="card-info flex flex-wrap items-center shadow shadow-hover transition">
              <div class="flex flex-column p3">
                <div class="h3">#f1f1f1</div>
                <div class="h5 grey">rgba(255,0,0,1)</div>
              </div>
              <a href="#" class="p3 h2">12</a>
          </div>
        </div>

        <!-- Color Card -->
        <div class="col-12 sm-col-6 md-col-4 lg-col-3 p4 relative">
          <div class="card-color" style="background-color: #efefef"></div>
          <div class="card-info flex flex-wrap items-center shadow shadow-hover transition">
              <div class="flex flex-column p3">
                <div class="h3">#efefef</div>
                <div class="h5 grey">rgba(255,0,0,1)</div>
              </div>
              <a href="#" class="p3 h2">10</a>
          </div>
        </div>

        <!-- Color Card -->
        <div class="col-12 sm-col-6 md-col-4 lg-col-3 p4 relative">
          <div class="card-color" style="background-color: #f3f3f3"></div>
          <div class="card-info flex flex-wrap items-center shadow shadow-hover transition">
              <div class="flex flex-column p3">
                <div class="h3">#f3f3f3</div>
                <div class="h5 grey">rgba(255,0,0,1)</div>
              </div>
              <a href="#" class="p3 h2">6</a>
          </div>
        </div>
      </div>

      <!-- Color Card Group Title-->
      <div class="group mt4 p2 flex grey">
        <div class="group-color" style="background-color: #007a87"></div>
        <div class="italic ml2">
          Color Similar to #007a87</div>
      </div>

      <!-- Color Card Group-->
      <div class="flex flex-wrap mt2">
        <!-- Color Card -->
        <div class="col-12 sm-col-6 md-col-4 lg-col-3 p4 relative">
          <div class="card-color" style="background-color: #007a87"></div>
          <div class="card-info flex flex-wrap items-center shadow shadow-hover transition">
              <div class="flex flex-column p3">
                <div class="h3">#007a87</div>
                <div class="h5 grey">rgba(255,0,0,1)</div>
              </div>
              <a href="#" class="p3 h2">12</a>
          </div>
        </div>

        <!-- Color Card -->
        <div class="col-12 sm-col-6 md-col-4 lg-col-3 p4 relative">
          <div class="card-color" style="background-color: #008489"></div>
          <div class="card-info flex flex-wrap items-center shadow shadow-hover transition">
              <div class="flex flex-column p3">
                <div class="h3">#008489</div>
                <div class="h5 grey">rgba(255,0,0,1)</div>
              </div>
              <a href="#" class="p3 h2">10</a>
          </div>
        </div>
      </div>

      <!-- Color Card Group Title-->
      <div class="group mt4 p2 flex grey">
        <div class="group-color" style="background-color: #F68110"></div>
        <div class="italic ml2">
          Color Similar to #F68110</div>
      </div>

      <!-- Color Card Group-->
      <div class="flex flex-wrap mt2">
        <!-- Color Card -->
        <div class="col-12 sm-col-6 md-col-4 lg-col-3 p4 relative">
          <div class="card-color" style="background-color: #F68110"></div>
          <div class="card-info flex flex-wrap items-center shadow shadow-hover transition">
              <div class="flex flex-column p3">
                <div class="h3">#F68110</div>
                <div class="h5 grey">rgba(255,0,0,1)</div>
              </div>
              <a href="#" class="p3 h2">33</a>
          </div>
        </div>

        <!-- Color Card -->
        <div class="col-12 sm-col-6 md-col-4 lg-col-3 p4 relative">
          <div class="card-color" style="background-color: #FFA300"></div>
          <div class="card-info flex flex-wrap items-center shadow shadow-hover transition">
              <div class="flex flex-column p3">
                <div class="h3">#FFA300</div>
                <div class="h5 grey">rgba(255,0,0,1)</div>
              </div>
              <a href="#" class="p3 h2">17</a>
          </div>
        </div>

        <!-- Color Card -->
        <div class="col-12 sm-col-6 md-col-4 lg-col-3 p4 relative">
          <div class="card-color" style="background-color: #FFA308"></div>
          <div class="card-info flex flex-wrap items-center shadow shadow-hover transition">
              <div class="flex flex-column p3">
                <div class="h3">#FFA308</div>
                <div class="h5 grey">rgba(255,0,0,1)</div>
              </div>
              <a href="#" class="p3 h2">17</a>
          </div>
        </div>
      </div>

    </div>

    <!-- Footer -->
    <div class="container mx-auto p2 pb3 flex justify-center">
      <div class="grey h5">Created by Martin and Lennon</div>
    </div>

  </body>
</html>
