/* General
--------------------------------------------- */
html {
  height: 100%;
  margin: 0;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  box-sizing: border-box;
  /* Better text rendering */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

/* Composition
--------------------------------------------- */
.min-h100vh { min-height: 100vh; }

@media screen and (min-width: 500px) {
  .sm-min-w500px { min-width: 500px; }
}


/* Heading
--------------------------------------------- */
.h1 { font-size: 3.2rem; }
.h2 { font-size: 2.8rem; }
.h3 { font-size: 2.4rem; }
.h4 { font-size: 1.6rem; }
.h5 { font-size: 1.4rem; }
.h6 { font-size: 1.2rem; }



/* Color
--------------------------------------------- */
.grey { color: grey; }
.grey-dark { color: #585858; }
.black { color: black; }
.black-hover:hover { color: black; }

.border-grey { border-color: grey; }

.bg-grey { background-color: grey; }

/* Container
--------------------------------------------- */
.container {
  max-width: 1200px;
  width: 100%;
}

/* Link
--------------------------------------------- */
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  transition: all 0.15s ease 0s;
}

a:link,
a:visited {
  color: grey;
}

a:hover,
a:active{
  color: black;
}

/* Input
--------------------------------------------- */
.label-upload {
  color: grey;
  cursor: pointer;
  border: 2px solid white;
}

.label-upload:hover {
  color: black;
  border: 2px solid black;
  border-radius: 2px;
}

/* Input - URL
--------------------------------------------- */
.input-text-url {
  width: 100%;
  font-size: 2.2rem;
  border: none;
  border-bottom: 2px solid grey;
  padding: 2rem;
}

.input-text-url:hover,
.input-text-url:focus {
  border-bottom: 2px solid black;
}

.input-sumbit-url {
  font-size: 1.8rem;
  appearance: none;
  border: none;
  padding: 2rem;
  border: 2px solid transparent;
  background-color: transparent;
  display: inline-block;
  color: grey;
  cursor: pointer;
}

.input-sumbit-url:hover {
  color: black;
  border: 2px solid black;
}

/* Card - Color
--------------------------------------------- */
.card-color {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.05);
}

.group-color,
.card-color-small {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.05);
}

.card-info {
  position: absolute;
  right: 2rem;
  bottom: 0;
  background-color: white;
  border-radius: 2px;
}

.card-color:hover ~ .card-info,
.card-info:hover {
  transform: translateX(-5px);
}

.card-color:hover ~ .card-info > .flex > .card-color-code {
  color: black !important;
}

/* Flash Message
--------------------------------------------- */
.flash-message {
  position: fixed;
  float: right;
  border-radius: 2px;
  right: 0;
  background-color: white;
  z-index: 1;
  margin-top: -20px;
  margin-right: -2px;
}

/* Misc
--------------------------------------------- */
.transition { transition: all 0.15s ease 0s; }
.relative { position: relative; }
.shadow { box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15); }
.shadow-hover:hover { box-shadow: 0 1px 6px 0 rgba(0,0,0,0.15); }
.cursor-pointer { cursor: pointer; }
